/*.main-container{
	display: 
}*/
.circle{
	width:80px;
    height:80px;
    border-radius:50%;
    border: solid 7px #F8981C;
    overflow:hidden;
    display: flex;
    position: absolute;
    margin-left: 268px;
}
.circle p{
	color: #F8981C;
	font-size: 70px;
    margin: auto;
}
.title{
	text-align: right;
	color: #747704;
	padding-right: 268px;
	margin-bottom: -10px;
	font-weight: 100;
}
.title .jane{
	font-size: 50px;
	font-family: system-ui;
	margin-bottom: -20px;
}
.title p{
	font-size: 20px;
	font-family: system-ui;
}
.line{
	height: 5px;
	width: 795px;
	background-color: #BCBBBB;
	position: absolute;
	margin-top: 10px;
    margin-left: 268px;
}
.gallery img{
	margin: auto;
	padding-top: 30px;
    display: flex;
}
.collage{
	margin-top: 20px;
    display: flex;
    position: absolute;
    padding-left: 260px;
    margin-top: -60px;
}
.feat p{
	height: fit-content;
	width: fit-content;
	color: #BCBBBB;
	padding-left: 265px;
	font-size: 40px;
	font-family: system-ui;
}
h1{
	color: #747704;
	font-weight: normal;
    margin-bottom: -5px;
}
.img1, .img2, .img3{
	margin: 10px;
	text-align: center;
	font-family: system-ui;
	font-weight: 100;
}
a{
	color: #BCBBBB;
	text-decoration: none;
	text-align: center;
}